<header>
  <div class="sub-menu">
    <div class="container">
      <div class="sub-header-social">
        <a href="https://www.facebook.com/wouvy/" target="_blank"><i class="icon-facebook clr-facebook"></i></a>
        <a href="https://twitter.com/wouvy " target="_blank"><i class="icon-twitter clr-twitter"></i></a>
      </div>
      <a href="tel:+33610817239" class="sub-menu-item"><i class="icon-phone"></i>06 10 81 72 39</a>
      <a href="mailto:contact@wouvy.fr" class="sub-menu-item"><i class="icon-mail"></i>contact@wouvy.fr</a>
      <div class="pull-right">
        <a href="" class="sub-menu-item"><i class="icon-plus"></i>Inscription</a>
        <a href="" class="sub-menu-item"><i class="icon-password"></i>Connexion</a>
      </div>
    </div>
  </div>
  <div class="main-menu">
    <div class="container">

    </div>
  </div>
</header>
