.navbar {
  background: #333;
}

.navbar .navbar-item {
  color: white;
}

.navbar .navbar-item.navbar-item-title {
  font-weight: bold;
  font-size: 24px;
  background-color: transparent !important;
}

.navbar .navbar-item:hover {
  background-color: rgba(0,0,0,0.1);
}

.navbar .navbar-item.active {
  background-color: rgba(0,0,0,0.3);
}

.app-layout-container {
  height: calc(100vh - 52px - 72px);
}

.footer {
  padding: 1rem 0.5rem 2rem;
}
