<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" routerLinkActive="active" class="navbar-item navbar-item-title">{{title}}</a>

    <div class="navbar-burger burger" data-target="mainMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="mainMenu" class="navbar-menu">
    <div class="navbar-end">
      <a routerLink="/login" routerLinkActive="active" class="navbar-item">Login</a>
      <a routerLink="/subscribe" routerLinkActive="active" class="navbar-item">Subscribe</a>
    </div>
  </div>
</nav>
<section class="app-layout-container section">
  <router-outlet></router-outlet>
</section>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Angular UI starter</strong> by <a href="https://github.com/KevinDepuydt" target="_blank">KevinDepuydt</a>
      </p>
    </div>
  </div>
</footer>
